@font-face {
    font-family: 'Hanken Grotesk';
    src:url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}   


/* Result */

header {
    position: absolute;
    left: 30%;
    top: 15%;
}

#result {
    display: flex;
    border: 1px solid ;
    flex-direction: column;
    background-color: hsl(241,81%,54%);
    border-radius: 30px;
    width: 20vw;
    height: 60vh;   
}

#result p:nth-child(1) {
    color: hsl(241,100%,80%);
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 15px;    
}

/* Procurar saber fazer um circle */
.result-point{ 
    border: 1px solid;
    align-self: center;
    align-content: center;
    width: 60%;
    height: 40%;
    margin-top: 10px;
    border-radius: 100%;
    background-color: hsla(241, 81%, 54%, 1);
    position: static;
}

.result-point h1 {
    color: white;
    position: absolute;
    top: 33%;
    left: 39%;
    font-size: 2.8em;
    margin-top: -20px;
}

.result-point h2 {
    position: absolute;
    top: 46%;
    left: 42%;
    font-size: 0.8em;
    color: hsl(224,30%,60%);
}

.message {
    margin-top: 5px;
    text-align: center;
}

.message h1 {
    font-size: 1.8em;
    color: hsl(221, 100%, 96%);
}

.message p {
    font-size: 0.85rem;
    width: 86%;
    margin-top: 10px;    
    position: relative;
    left: 8%;
    color: hsl(241,100%,80%);
}

.content {
    position: absolute;
    left: 50%;
    top: 15%;
}

main {
    display: flex;
    border: 1px solid gray ;
    flex-direction: column;
    border-radius: 30px;
    width: 22vw;
    height: 60vh;
}

section {
    width: 98%;
    height: 85%;
    margin-left: 3px;
    padding: 10px;
}

main h1 {
    margin-left: 15px;
    font-size: 1.3em;
    padding: 12px;
    height: 10%;
}

.test {
    background-color: hsla(0,100%,86%, 0.5);
    padding: 0px 9px;
}
.memory {
    background-color: hsla(39,100%,56%, 0.3);
    padding: 0px 9px;
}

.verbal {
    background-color: hsla(166,100%,37%, 0.3);
    padding: 0px 9px;
}
.view{ 
    background-color: hsla(234,85%,45%, 0.3);
    padding: 0px 9px;
}

.test,.memory, .verbal, .view {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 8px;
}

.test h1:nth-of-type(1) {
    margin-left: -90px;
    font-size: 0.9em;
    color: hsl(0,100%,67%);
}

.memory h1:nth-of-type(1) {
    margin-left: -80px;
    font-size: 0.9em;
    color: hsl(39,100%,56%);
}

.verbal h1:nth-of-type(1) {
    margin-left: -90px;
    font-size: 0.9em;
    color: hsl(166,100%,37%);
}
.view h1:nth-of-type(1) {
    margin-left: -90px;
    font-size: 0.9em;
    color: hsl(234,85%,45%);
}

span {
    color: hsl(224,30%,60%);
    margin: 0 10px;
}

h3 {
    align-self: center;
}

button {
    margin-top: -50px;
    align-self: center;
    border: 1px solid;
    padding: 10px;
    border-radius: 25px;
    color: white;
    width: 80%;
    background-color: black;
}

button:hover {
    background-color: hsla(256, 72%, 46%, 1);
    cursor: pointer;
}