@font-face {
    font-family: 'Hanken Grotesk';
    src:url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}   

/* Result */

header {
    position: absolute;
    left: 30%;
    top: 15%;
}

#result {
    display: flex;
    border: 1px solid ;
    flex-direction: column;
    background-color: hsl(252,100%,67%);
    border-radius: 20px;
    width: 20vw;
    height: 60vh;   
}

#result p:nth-child(1) {
    color: hsl(224,30%,27%);
    /* border: 1px solid; */
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 15px;    
}

/* Procurar saber fazer um circle */
.result-point{ 
    border: 1px solid;
    align-self: center;
    text-align: center;
    width: 60%;
    height: 40%;
    margin-top: 10px;
    padding: 45px;
    border-radius: 100%;
    background-color: hsla(258,72%, 46%, 1);
}

.result-point h1 {
    color: white;
    font-size: 2.8em;
    margin-top: -20px;
}

.result-point h2 {
    font-size: 0.8em;
    color: hsl(224,30%,60%);
}

.message {
    margin-top: 5px;
    text-align: center;
}

.message h1 {
    font-size: 1.8em;
    color: hsl(221, 100%, 96%);
}

.message p {
    font-size: 0.85rem;
    /* border: 1px solid; */
    width: 86%;    
    position: relative;
    left: 8%;
    color: hsl(224,30%,27%);
}

.content {
    position: absolute;
    left: 50.3%;
    top: 15%;
}

main {
    display: flex;
    border: 1px solid ;
    flex-direction: column;
    /* background-color: hsl(252,100%,67%); */
    border-radius: 20px;
    width: 22vw;
    height: 60vh;
}

section {
    /* border: 1px solid; */
    width: 98%;
    height: 85%;
    margin-left: 2px;
}

main h1 {
    margin-left: 15px;
    /* border: 1px solid; */
    padding: 10px;
}

main div {
    background-color: hsl(221, 100%, 96%);
}

.test,.memory, .verbal, .view {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    /* background-color:gray; */
    margin-top: 15px;
    border-radius: 8px;
}

.test h1:nth-of-type(1) {
    margin-left: -100px;
    font-size: 0.9em;
    color: hsl(0,100%,67%);
}

.memory h1:nth-of-type(1) {
    margin-left: -100px;
    font-size: 0.9em;
    color: hsl(39,100%,56%);
}

.verbal h1:nth-of-type(1) {
    margin-left: -100px;
    font-size: 0.9em;
    color: hsl(166,100%,37%);
}
.view h1:nth-of-type(1) {
    margin-left: -100px;
    font-size: 0.9em;
    color: hsl(234,85%,45%);
}

span {
    color: hsl(224,30%,60%);
}

h3 {
    margin-top: 7px;
    margin-right: 10px;
    /* border: 1px solid; */
}

button {
    margin-top: -50px;
    align-self: center;
    border: 1px solid;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: hsla(256, 72%, 46%, 1);
    width: 80%;
}
